[Desktop Entry]
Version=1.0
Type=Application

Name=UMIDE
Comment=Lightning-fast and powerful code editor written in Rust
Categories=Development;IDE;
GenericName=Code Editor
StartupWMClass=umide

Icon=dev.lapce.lapce
Exec=umide %F
Terminal=false
MimeType=text/plain;inode/directory;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=umide --new %F
Icon=dev.lapce.lapce
